#event-manager
  .col-md-9.red

  .col-md-3
    .well.overview
      %h2 {{event.name}}

      %img{src:"{{event.img}}"}

      .progress-container
        Proposals Recieved
        .progress
          .progress-bar.progress-bar-warning{role:"progressbar", aria-valuenow:"40", aria-valuemin:"0", aria-valuemax:"100", style:"width:40%"}

      .progress-container
        Proposals Reviewed
        .progress
          .progress-bar.progress-bar-success{role:"progressbar", aria-valuenow:"10", aria-valuemin:"0", aria-valuemax:"100", style:"width:10%"}

      .description
        {{event.description}}

      .proposal-link
        %a{href:"{{event.app_link}}"} {{event.app_link}}
