#home
  %h2 Easily monitor, accept, review, and schedule proposals for your event.

  %ul
    %li Step 1 - Create your Event
    %li Step 2 - Open Your Call For Proposals
    %li Step 3 - Assign Reviewers
    %li Step 4 - Schedule Talks
