#home
  %h2 The easiest way to manage conference speakers.

  %ul
    %li Step 1 - Create your Event
    %li Step 2 - Open Your Call For Proposals
    %li Step 3 - Assign Reviewers
    %li Step 4 - Schedule Talks
