#profile
  .col-md-9.red

  .col-md-3
    .well.overview
      %h2 Raymond Chandler III

      %img{src:"/img/startup_weekend.jpg"}

      .description
        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. 
