#review-manager
  .card-column
    %h2 Unreviewed ({{unreviewed.length}})
    .static-cardlist
      .static-card{class:"min{{scard.length}}", ng-repeat:"scard in unreviewed", ng-click:"reviewCard(scard)"}
        %h4 {{scard.title}}
        %p {{scard.abstract}}

  .review-form-area
    .alert.alert-info{ng-show:"!!!unreviewed.length"}
      There are no talks for you to review yet. Check back later.

    .well{ng-show:"!!unreviewed.length"}
      Review Area for the currently selected talk.

  .profile-area
    .well.overview
      .profile{ng-show:"userLoggedIn"}
        %h2 Raymond Chandler III
        %img{src:"/static/img/startup_weekend.jpg"}

        .progress-container
          Proposals Reviewed
          .progress
            .progress-bar.progress-bar-success{role:"progressbar", aria-valuenow:"10", aria-valuemin:"0", aria-valuemax:"100", style:"width:10%"}

        .description
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. 
    
    %a.btn.btn-info{href:"/schedule-manager"} Next Step
