#schedule-manager
  .card-panel
    .card-column
      %h2 Unscheduled
      .card-list
        .card
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card
          %h4 Blah Blah Blah
          %p Blah Blah Blah

  .time-guides
    .guide 8am
    .guide 9am
    .guide 10am
    .guide 11am
    .guide 12pm
    .guide 1pm
    .guide 2pm
    .guide 3pm
    .guide 4pm
    .guide 5pm
    .guide 6pm
    .guide 7pm

  .card-wall
    .card-column
      %h2 Cartoon 1
      .card-list
        .card.min30
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min15
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min15
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min90
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min60
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min30
          %h4 Blah Blah Blah
          %p Blah Blah Blah

    .card-column
      %h2 Cartoon 2
      .card-list
        .card.min90
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min15
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min30
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min75
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min15
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min15
          %h4 Blah Blah Blah
          %p Blah Blah Blah


    .card-column
      %h2 Windsor Hall
      .card-list
        .card.min60
          %h4 Blah Blah Blah
          %p Blah Blah Blah
        .card.min60
          %h4 Blah Blah Blah
          %p Blah Blah Blah

    .card-column
      %h2 Jefferson Room
      .card-list
        .card.min45
          %h4 Blah Blah Blah
          %p Blah Blah Blah

    .card-column
      %h2 The Guild
      .card-list
        .card.min45
          %h4 Blah Blah Blah
          %p Blah Blah Blah
