#speaker-app
  %h2 Speaker Application
  .col-md-8.col-md-offset-2
    %form.form-horizontal{role:"form"}
      .form-group
        %label.col-sm-2.control-label{for:"name"} Your Name
        .col-sm-10
          %input#name.form-control{type:"text", placeholder:"John Jacob Jingleheimer-Smith"}

      .form-group
        %label.col-sm-2.control-label{for:"description"} Bio
        .col-sm-10
          %textarea#description.form-control{placeholder:"His name is my name too..."}

      .form-group
        %label.col-sm-2.control-label{for:"talk-title"} Talk Title
        .col-sm-10
          %input#talk-title.form-control{type:"text", placeholder:"A Better Way to..."}

      .form-group
        %label.col-sm-2.control-label{for:"talk-abstract"} Talk Abstract
        .col-sm-10
          %textarea#talk-abstract.form-control{placeholder:"In this talk I will..."}

      .form-group
        %label.col-sm-2.control-label{for:"avatar"} Photo
        .col-sm-10
          %input#avatar{type:"file"}
          %p.help-block Upload an avatar for your speaker profile.

      .form-group
        %label.col-sm-2.control-label{for:"tags"} Known For:
        .col-sm-10
          %input#tags.form-control{type:"text", placeholder:"JQuery, Java, Python, etc..."}
          %p.hel-block Add some tags that describe your expertise(seperate with a ',').

      .form-group
        %label.col-sm-2.control-label{for:"linkedin"} LinkedIn
        .col-sm-10
          %input#linkedin.form-control{type:"text", placeholder:"http://"}

      .form-group
        %label.col-sm-2.control-label{for:"twitter"} Twitter
        .col-sm-10
          %input#twitter.form-control{type:"text", placeholder:"@mytwitterhandle"}

      .form-group
        %label.col-sm-2.control-label{for:"website"} Website
        .col-sm-10
          %input#website.form-control{type:"text", placeholder:"http://"}

      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-default{type:"submit"} Submit Application
