@bodyBorderColor: rgb(175,150,130);
@orange: #F38E42;
@green: #37c837;
@blue: #2b93db;
@bordeaux: rgb(189, 54, 47);

h1,h2,h3,h4,h5 {
  text-align: center;
}

button {
  margin-bottom: 0px !important;
}

.alert.alert-info {
    background-color: @orange;
    background-image: linear-gradient(lighten(@orange, 5%) 0px, @orange 100%);
    border: @orange;
    border-top: lighten(@orange, 5%);
    color: white;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 2px 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: @orange;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;

    .navbar {
        flex: 0 0 62px;
        width: 100%;
        padding: 10px;

        background: @orange;
        color: white;
        -webkit-box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 1);
        box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 1);
        margin-bottom: 2px;

        .navbar-brand {
            color: white;
            font-size: 18px;
            margin: 0px;
            text-shadow: 1px 1px 5px #333;
        }

        .navbar-nav {
            li {
                a {
                    color: white;
                    background: @orange;
                }

                a:hover {
                    text-shadow: 1px 1px 5px #333;
                    background: @orange;
                }
            }

            ul {
                background: @orange;
            }
        }

        .navbar-nav > li.dropdown.active.open > a, 
        .navbar-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
        .navbar-nav > li.dropdown.open > a, 
        .navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover
        {
          color: white;
          background-color: @orange;
          border-color: #fff;
        }
    }

    .content-container {
        flex: 300 1 auto;
        padding: 20px;
        background-color: #f5f5f5;
        overflow: scroll;
    }

    .footer {
        flex: 0 0 62px;
        padding: 20px;
        background: @orange;
        color: white;

        -webkit-box-shadow: 1px -1px 3px 1px rgba(128, 128, 128, 1);
        box-shadow: 1px -1px 3px 1px rgba(128, 128, 128, 1);

        .copyright {
        }
    }
}

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.overview {
    h2 {
        padding: 0px;
        margin-top: 0px;
        text-align: center;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .progress-container {
        margin-top: 10px;
    }

    .btn {
        margin-top: 20px;
    }

    .proposal-link {
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        background: @orange;

        a {
            color: white;
            text-shadow: 1px 1px 3px #333;
        }
    }
}

#schedule-manager {

    .button-bar {
        display: flex;
        margin-top: -10px;

        button {
            margin-right: 10px;
            margin-top: 10px;
        }

        .del-room {
            margin-left: 20px;
            color: maroon;

            &:hover {
                color: red;
            }
        }

        .room-list-section {
            flex: 10 1 100px;

            .alert {
                margin-top: 10px;
                margin-right: 40px;
                padding: 5px 10px;
            }
        }

        .add-room-section {
            flex: 0 1 305px;
            margin-top: 10px;

            button {
                margin-left: 10px;
                margin-top: 0px;
            }
        }
    }

    .schedule-area {
        display: flex;
        position: relative;
        justify-content: space-around;
        overflow: hidden;

        .card-panel {
            flex: 0 1 260px;
            margin-top: 40px;
        }

        .card-wall {
            position: relative;
            flex: 10 1 260px;
            margin-top: 40px;
            margin-left: 140px;
            white-space: nowrap;

            overflow-x: scroll;
            z-index: 1;
        }

        .time-guides {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 40px;
            margin-left: 40px;
            z-index: 0;

            .guide {
                margin-top: 171px;
                border-bottom: 1px dashed #aaa;
                color: #666;
                font-size: 28px;
                line-height: 28px;

                &:first-child {
                    margin-top: 46px;
                }
            }
        }
    }

    .card-column {
        display: inline-block;
        vertical-align: top;
        width: 260px;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 2400px;
        color: #666;

        h2 {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 0px;
        }

        .cardlist {
            min-height: 800px;
            margin: 10px;

            .drop-indicator {
                margin-top: 10px;
                height: 28px;
                border: 3px dotted #ccc;
            }

            .card {
                margin-top: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;

                h4 {
                    padding: 5px;
                    border-bottom: 1px solid #ccc;
                }

                p { 
                    white-space: initial;
                    overflow: scroll;
                    padding: 5px;
                }

                &.min15 { 
                    h4 {
                        height: 28px; 
                        margin-bottom: 0px;
                        border-bottom: none;
                    }

                    p { display: none; }
                }
                &.min30 p { height: 28px; }

                &.min45 p { height: 78px; }

                &.min60 p { height: 128px; }

                &.min75 p { height: 178px; }

                &.min90 p { height: 228px; }

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }

    .card-wall .card-column {
        margin-left: 20px;
    }
}

#review-manager {
    display: flex;
    justify-content: space-around;

    .card-column {
        flex: 0 1 260px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 1200px;
        overflow-y: scroll;
        color: #666;
        margin-left: 20px;

        h2 {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 0px;
        }

        .static-cardlist {
            min-height: 800px;
            margin: 10px;

            .drop-indicator {
                margin-top: 10px;
                height: 28px;
                border: 3px dotted #ccc;
            }

            .static-card {
                margin-top: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;

                h4 {
                    padding: 5px;
                    border-bottom: 1px solid #ccc;
                }

                p { 
                    white-space: initial;
                    overflow: scroll;
                    padding: 5px;
                }

                &:hover {
                    background-color: darken(whitesmoke, 10%);
                    cursor: pointer;
                }

                &.min15 { 
                    h4 {
                        height: 28px; 
                        margin-bottom: 0px;
                        border-bottom: none;
                    }

                    p { display: none; }
                }
                &.min30 p { height: 28px; }

                &.min45 p { height: 78px; }

                &.min60 p { height: 128px; }

                &.min75 p { height: 178px; }

                &.min90 p { height: 228px; }

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }

    .review-form-area {
        flex: 1 0 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .profile-area {
        flex: 0 1 320px;
    }
}